html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url("../fonts/JosefinSansBold.woff2") format('woff2');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/MontserratExtraBold.woff2") format('woff2');
    font-display: swap;
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/MontserratSemiBold.woff2") format('woff2');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url("../fonts/PoppinsMedium.woff2") format('woff2');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url("../fonts/PoppinsRegular.woff2") format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

.page__body {
    margin: 0;
    min-width: 360px;
    font-family: var(--font-family);
    background-color: var(--bg);
  }
  
:root {
    --bg: #1F2022;
    --main: #eee;
    --second: #00adb5;
    --light-text: #fff;
  
    --font-family: "Josefin Sans", sans-serif;
    --second-family: "Montserrat", sans-serif;
    --third-family: "Poppins", sans-serif;
}
  
.stop-scroll {
    overflow: hidden;
}
  
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}
  
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}
  
.container {
    max-width: 1382px;
    padding: 0 15px;
    margin: 0 auto;
}
  
.btn-reset {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}
  
.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header {
    padding: 25px 0;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav__link {
    font-weight: 700;
    font-size: 18px;
    color: var(--main);
    transition: color 0.25s ease-in-out;
}

@media (any-hover: hover) {
    .nav__link:hover {
        color: var(--second);
    }
}

.nav__link--current {
    color: var(--second);
    pointer-events: none;
}

.btn {
    border-radius: 3px;
    padding: 16px;
    font-family: inherit;
    font-weight: 700;
    font-size: 18px;
    color: #000;
    background-color: var(--main);
}

.hero {
    padding-bottom: 40px;
    background-image: url('../img/bg.png');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;

    .container {
        display: flex;
        height: 100%;
        min-height: calc(100vh - 140px);
    }
}

.hero__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.hero__skill {
    max-width: 200px;
    font-family: var(--second-family);
    font-weight: 800;
    font-size: 24px;
    line-height: 125%;
    color: var(--second);
}

.hero__slogan {
    position: relative;
    max-width: 380px;
    margin-top: 30vh;
    padding-left: 30px;
    font-family: var(--second-family);
    font-weight: 800;
    font-size: 24px;
    line-height: 160%;
    color: var(--main);
}

.hero__slogan::before {
    content: "";
    position: absolute;
    left: 0;
    top: 18px;
    width: 20px;
    height: 3px;
    background-color: var(--second);
}

.hero__content {
    max-width: 550px;
    padding-top: 150px;
    margin-left: auto;
}

.hero__welcome {
    font-family: var(--third-family);
    font-size: 18px;
    color: var(--main);

    span {
        font-family: var(--second-family);
        font-weight: 800;
        font-size: 100px;
        color: var(--second);
    }
}

.hero__descr {
    font-family: var(--third-family);
    font-size: 16px;
    line-height: 180%;
    color: rgba(255, 255, 255, 0.6)
}

.hero__slider {
    margin-top: 30px;
}

.slider__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.slider__title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    color: var(--light-text)
}

.slider__more {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 14px;
    color: var(--second);
}

.slider__list {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.slider__link {
    flex-shrink: 0;
    border-radius: 6px;
    overflow: hidden;
}

.slider__nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.slider__btn {
    width: 28px;
    height: 28px;

    svg {
        fill: var(--light-text);
    }
}